*{
    margin: 0 auto;
    padding: 0;
    list-style: none;
    font-family: 'Noto Sans KR', sans-serif;
    color: #333;
    letter-spacing: -1;
}
a{
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}
#wrap{
    width: 100%;
    position: relative;
    zoom: 100%;
}
header{
    width: 100%;
}
.header_top > p {
    width: 1280px;
    height: 33px;
    font-size: 14px;
    color: #777;
    line-height: 33px;
    font-weight: 700;
}
.header_top > p > img{
    padding-top: 3px;
}
.header_middle{
    width: 100%;
    height: 33px;
    background-color: #033075;
}
.header_middle_inner{
    width: 1280px;
    height: 100%;
    position: relative;
}
.foreigner{
    margin-top: 5px;
    float: left;
    position: relative;
    font-size: 14px;
    color: #fff;
    font-weight: 500;
    padding-right: 20px;
}
.down,.up{
    position: absolute;
    top: 10px;
    right: 13px;
}
.up{
    display: none;
    transform:rotate(180deg);
}
.header_middle_inner_left{
    float: left;
    position: relative;
    padding: 0px 15px;
    margin-top: 6px;
    font-size: 14px;
    color: #fff;
    font-weight: 500;
    border-left: 1px solid #aaa;
}
.header_middle_menu{
    float: right;
}
.header_middle_menu li{
    float: left;
    float: left;
    position: relative;
    padding: 0px 15px;
    margin-top: 6px;
    font-size: 14px;
    color: #fff;
    font-weight: 500;
    border-left: 1px solid #aaa;
}
.header_middle_menu li:first-child{
    border-left: none;
}
.zoom{
    width: 80px;
    height: 20px;
    float: right;
    margin-left: 10px;
    color: #696969;
    display: flex;
}
#zoom_out,#zoom_in{
    width: 25%;
    height: 100%;
    text-align: center;
    background-color: skyblue;
    font-size: 18px;
    line-height: 14px;
    font-weight: bold;
}
#zoom_per{
    width: 50%;
    height: 100%;
    text-align: center;
    background-color: rgba(253,253,253,0.3);
    color: #fff;
    font-size: 12px;
}
#zoom_per>p{
    color: #fff !important;
}
/* foreigners 누르면 나오는 메뉴 */
.foreigners_menu{
    z-index: 9999;
    display: none;
    position: absolute;
    top:33px;
    width: 100px;
    height: 100px;
    background-color: #fff;
    box-shadow: 2px 2px 10px -6px #000;
}
.foreigners_menu ul li{
    text-align: center;
    font-size: 14px;
    line-height: 33px;
    color: #555;
    border-top:1px solid #ddd;
}
/* nav 및 header bottom  */
nav{
    position: absolute;
    width: 100%;
}
.show_nav{
    height: 525px;
    z-index: 9999;
    background-color: #fff;
    border-bottom: 3px solid #233671;
}
.header_bottom{
    width: 100%;
    height: 75px;
    box-shadow: 1px 3px 10px rgba(3,48,117,.3);
    position: absolute;
    z-index: 999;
}
.header_bottom_inner{
    width: 1280px;
    height: 100%;
    display: flex;
    position: relative;
    justify-content: space-between;
}
.logo{
    width: 130px;
    height: 100%;
    margin-left: 0px;
}
.logo a>img{
    margin-top: 15px;
}
.menu{
    position: absolute;
    left: 200px;
    top: 20px;
    
}
.menu>li{
    float: left;
    height: 100%;
    padding: 0px 26px;
}
.menu>li>a{
    font-size: 21px;
    color: #333;
    font-weight: bold;
    padding: 21px 8px;
    text-align: center;
}
.menu>li>a:hover{
    border-bottom: 4px solid #006ae2;
}
.first_btn{
    margin-right: 0px;
    align-self: center;
    width: 200px;
    height: 40px;
    background-color: #eb193a;
    border-radius: 20px;
    position: relative;
}
.first_btn>a{
    width: 100%;
    height: 100%;
    color: #fff;
}
.first_btn >a img{
    top: 10px;
    left: 20px;
    position: absolute;
}
.first_ment{
    position: absolute;
    left: 45px;
    width: 120px;
    line-height: 40px;
    color: #fff;
}
.first_arrow{
    width: 8px;
    height: 11px;
    background-image: url(icon/ico-myset.png);
    background-repeat: no-repeat;
    background-position: -109px -65px;
    position: absolute;
    right: 10px;
    top: 15px;
}
/* hover하면 나오는 메뉴 */
.nav_inner_box{
    width: 960px;
    height: 400px;
    top: 75px;
    position: relative;
    display: none;
}
.nav_box{
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;

}
.nav_box>ul{
    width: 100%;
}
.nav_box>ul>li:first-child{
    margin-left: 30px;
    padding-top: 100px;
    float: left;
    margin-right: 40px;
}
.nav_box>ul>li:first-child img{
    width: 100%;
}
.nav_box>ul>li:first-child p{
    margin-left: 0px;
    width: 80%;
    text-align: center;
    font-size: 30px;
    color: #033075;
    font-weight: bold;
}
.nav_box>ul>li:not(:first-child){
    margin-top: 30px;
    width: 195px;
    cursor: pointer;
    margin-left: 0px;
    float: left;
    margin-left: 50px;
}
.nav_box_title{
    width: 195px;
    height: 30px;
    background-color: #c8e2ff;
    text-align: center;
    border-radius: 15px;
    line-height: 30px;
    font-size: 16px;
    cursor: pointer;
}
.nav_box_title:hover{
    color: #006ae2;
}
.nav_box>ul>li>ul{
    margin-top: 10px;
}
.nav_box>ul>li>ul>li{
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}
.nav_box>ul>li>ul>li:hover{
    color: #006ae2;
}
/* 메인 시작 */
.content{
    position: relative;
    width: 100%;
    top: 75px;
}
.main_top{
    width: 100%;
    height: 440px;
    margin-top: 20px;
}
.main_top_box{
    width: 1280px;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.main_top_box_left{
    width: 840px;
    margin-left: 0px;
}
/* 슬라이드 시작 */
.swiper-container{
    width: 100%;
    height: 310px;
    background-color: #ddd;
    border-radius: 20px;
    position: relative;
}
.main_slide_btn_box{
    z-index: 99;
    position: absolute;
    border-radius: 15px;
    top:250px;
    left: 45px;
    width: 115px;
    height: 30px;
    background-color: rgba(0,0,0,0.5);
    display: flex;
}
.swiper-pagination{
    float: left;
    height: 20px;
    width: auto !important;
    margin-left: 12px;
    font-size: 14px;
    padding-top: 10px;
    color: #fff;
    line-height: 30px;
}
.swiper-pagination>span{
    color: #fff;
}
.slide_prev,
.slide_next,
.slide_stop{
    width: 20px !important;
    position: absolute;
    margin-top: 2px;
    cursor: pointer;
}
.slide_prev{
    left: 50px;
}
.slide_next{
    right: 0px;
}
.slide_stop{
    left: 73px;
    position: absolute;
}
.slide_stop>img{
    top: 8px;
    position: absolute;
}
.swiper_play{
    display: none;
}
/* 검색 box */
.main_top_left_btm{
    position: relative;
    margin-top: 30px;
    width: 100%;
    height: 64px;
    display: flex;
}
.search_text{
    width: 120px;
    font-size: 16px;
    line-height: 64px;   
}
.search_list{
    position: relative;
    width: 150px;
    margin-right: 30px;
    overflow: hidden;
}
.search_list_box{
    position: absolute;
    width: 100%;
    height: 34px;
    top: 15px;
}
.search_list_boxs{
    line-height: 34px;
    font-size: 15px;
    color: #333;
    font-weight: bold;
}
.search_btn{
    position: absolute;
    height: 30px;
    top: 20px;
    right: 0px;
    cursor: pointer;
    background-color: #fff;
    z-index: 1;
}
#search_up,#search_down{
    cursor: pointer;
    margin-top: 5px;
}
#search_up{
    display: none;
}
.search_line{
    position: absolute;
    bottom: 10px;
    height: 100%;
    width: 100%;
    border-bottom: 2px solid #000;
}
/* 실시간 검색창 누르면 나오는 창 */
.hidden_search_list{
    position: absolute;
    border-radius: 7px;
    top: 64px;
    left: 120px;
    width: 125px;
    padding: 20px 12px;
    border: 1px solid #e2e5eb;
    background-color: #fff;
    z-index: 9999;
    display: none;
}
.hidden_search_list ul li{
    margin-bottom: 5px;
    font-size: 14px;
}
.hidden_search_list ul li a:hover{
    text-decoration: underline;
}
/* 검색창 */
.search_box{
    width: 540px;
    height: 64px;
    border: 2px solid #3382e9;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
}
.search_input{
    border: none;
    width: 100%;
    height: 62px;
    font-size: 16px;
    border-radius: 15px;
    padding-left: 20px;
}
.search_img{
    position: absolute;
    width: 20px;
    height: 100%;
    right: 20px;
    top: 20px;
    cursor: pointer;
}
/* 로그인 */
.main_top_box_right{
    width: 400px;
    height: 400px;
    margin-right: 0px;
    background-color: #fff;
    border: 1px solid #e2e5eb;
    border-radius: 20px;
    box-shadow: 10px 10px 27px rgba(0, 0, 0, 0.06);
}
.top_box_right_login_img{
    padding-top: 60px;
    width: 100%;
    height: 100px;
    text-align: center;
}
.login_ment{
    margin-top: 30px;
    width: 100%;
    height: 60px;
    text-align: center;
    margin: 0 auto;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}
.log_btn{
    margin-top: 30px;
    background-color: #3382e9;
    text-align: center;
    color: #fff;
    height: 52px;
    font-size: 15px;
    border-radius: 8px;
    line-height: 52px;
    margin: 40px 26px 0px 26px;
    cursor: pointer;
}
.login_btm{
    margin: 25px 26px 0px 26px;
    position: relative;
    color: #666;
    font-size: 14px;
    line-height: 22px;
}
.login_btm_left{
    float: left;
}

.text_line{
    display: inline-block;
    margin: 0 8px;
    width: 1px;
    height: 10px;
    background: #ddd; 
}
.login_btm_right{
    float: right;
}
.login_btm::after{
    content: "";
    clear: both;
    display: block;
}
/* 자주찾는 서비스 */
.main_bottom{
    width: 100%;
    height: 305px;
    background-color: #f5f7fa;
}
.main_bottom_inner{
    width: 1280px;
}
.main_bottom_title{
    padding-top: 26px;
    width: 100%;
}
.main_bottom_title_left{
    float: left;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}
.main_bottom_title>a{
    float: right;
    color: #666;
    font-size: 14px;
}
.main_bottom_title::after{
    content: "";
    clear: both;
    display: block;
}
/* 자주찾는 서비스 슬라이드 */
.service_slide{
    position: relative;
    width: 1200px;
    margin: 0 auto;
    padding: 40px 0px 40px 0px;
    overflow: hidden;
}
.service_slider_box{
    width: 137.5px;
    margin-right: 20px;
}
.service_slider_box_inner
,.hover_p
,.hover_g
,.hover_pp{
    display: block;
    padding: 0;
    width: 136px;
    height: 140px;
    text-align: center;
    border-radius: 15px;
    background: #fff;
}
.service_slider_box_inner:hover .inner_text{
    text-decoration: underline;
}
.circlep{
    background: #ff3388;
    position: relative;
    display: inline-block;
    margin: 24px 0 15px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 40px;
    font-size: 13px;
    font-weight: bold;
    color: #fff;
}
.circleg{
    background: #009973;
    position: relative;
    display: inline-block;
    margin: 24px 0 15px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 40px;
    font-size: 13px;
    font-weight: bold;
    color: #fff;
}
.circlepp{
    background: #6839e9;
    position: relative;
    display: inline-block;
    margin: 24px 0 15px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 40px;
    font-size: 13px;
    font-weight: bold;
    color: #fff;
}
.inner_text{
    font-size: 15px;
    color: #333;
}
.hover_p:hover {
    box-shadow: 0 0 0 2px #ff3388;
}
.hover_g:hover {
    box-shadow: 0 0 0 2px #009973;
}
.hover_pp:hover {
    box-shadow: 0 0 0 2px #6839e9;
}

/* 자주찾는 서비스 슬라이드 슬라이드 버튼 */
.service_btn{
    position: absolute;
    width: 1280px;
    bottom: 40px;
    height: 20px;
}
.service_prev_arrow{
    position: absolute;
    left: 0px;
    top: -85px;
    cursor: pointer;
}
.service_next_arrow{
    position: absolute;
    right: 0px;
    top: -85px;
    cursor: pointer;
}
.service_dot{
    width: 100px;
    height: 20px;
    margin: 0 auto;
}
.service_dot > span{
    margin-right: 10px;
}
.swiper-pagination-bullet-active { 
    width: 20px !important;
    border-radius: 5px !important;
    border: none !important;
}
/* 메인하단 */
.content_b{
    width: 100%;
    position: relative;
    margin-top: 75px;
}
.one_stop{
    width: 100%;
}
.one_inner{
    width: 1280px;
    display: flex;
    justify-content: space-between;
}
/* 원스톱 서비스 */
.one_left{
    margin-left: 0px;
    margin-top: 40px;
    width: 840px;
    height: 220px;
    border: 1px solid #e2e5eb;
    border-radius: 20px;
}
.one_left>h2{
    padding-top: 24px;
    padding-left: 24px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}
.one_href{
    float: right;
    color: #3382e9;
    font-size: 14px;
    font-weight: 500;
    padding-right: 24px;
}
.one_href>a{
    position: relative;
    margin-left: 8px;
    margin-right: 15px;
    font-size: 14px;
    color: #3382e9;
    font-weight: 400;
}
.one_href a>img{
    width: 15px;
}
.one_href>a:nth-child(2){
    padding-left: 5px;
    border-left: 1px solid #ddd;
}
.one_stop_swiper_wrap{
    position: relative;
    margin: 20px 24px 0px 24px;
}
.one_stop_swiper{
    height: 140px;
    overflow: hidden;
    margin: 0px 30px;
}
.one_stop_swiper_wrapper,
.swiper-wrapper{
    width: 100%;
    height: 100%;
}
.one_stop_swiper_wrapper>.swiper-slide{
    width: 87px;
    height: 100%;
    margin-right: 20px;
    text-align: center;
}
.one_stop_i{
    margin: 0 auto;
    width: 70px;
    height: 70px;
    background-color: #f5f7fa;
    border-radius: 30px;
}
.one_stop_i>img{
    margin-top: 15px;
}
.one_stop_t{
    margin-top: 15px;
    font-size: 14px;
    color: #333;
}
.one_stop_navi{
    width: 100%;
    height: 10px;
    position: absolute;
    bottom: 10px;
}
.one_stop_prev{
    position: absolute;
    left: 10px;
    top: -90px;
}
.one_stop_next{
    position: absolute;
    right: 10px;
    top: -90px;
}
.one_stop_dot{
    position: absolute;
    left: 48%;
    bottom: 0px;
    margin: 0 auto;
    cursor: pointer;
}
.one_stop_dot>.swiper-pagination-bullet{
    margin-right: 7px;
    height: 6px;
    width: 6px;
    cursor: pointer;
}
/* 공지사항  */
.one_right{
    margin-right: 0px;
    margin-top: 40px;
    width: 400px;
    height: 220px;
    border: 1px solid #e2e5eb;
    border-radius: 20px;
    position: relative;
}
.one_right>h2{
    padding: 24px 24px 0px 24px;
    font-size: 18px;
}
.notice_more{
    float: right;
}
.one_right>ul{
    margin-top: 24px;
    padding: 0px 24px;
}
.one_right>ul>li:hover .notice_list>span{
    text-decoration: underline;
}
.notice_list{
    display: flex;
    justify-content: space-between;
    line-height: 1.8;
}
.notice_list>span{
    margin: 0px;
    font-size: 14px;
}
.notice_list>span:first-child{
    display: inline-block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 70%;
    vertical-align: middle;
}
.notice_list>span:nth-child(2){
    color: #999;
    display: inline-block;
    font-size: 14px;
    color: #777;
    vertical-align: middle;
}
/* 보조금 24 */
.bojo_left_inner{
    padding: 24px 20px 0px 20px;
    display: flex;
}
.bojo_title{
    margin: 0;
    min-width: 200px;
}
.bojo_title>h2{
    margin: 0;
    width: 100%;
    height: 39px;
    padding: 9px 0px 0px 47px;
    font-size: 18px;
    background-image: url(icon/main-ico-subsidy.png);
    background-repeat: no-repeat;
    background-position: left;
}
.bojo_title>p{
    margin-top: 24px;
    width:100%;
    font-size: 14px;
}
.bojo_title>a{
    display: inline-block;
    margin-top: 24px;
    font-size: 14px;
    color: #3382e9;
}
.bojo_title>a:hover{
    text-decoration: #006ae2 underline;
}

/* 보조금 24 슬라이드 */
.bojo_slide_wrap{
    width: 250px;
    margin-right: 12px;
    position: relative;
    margin-left: 0px;
    overflow: hidden;
}
.bojo-swiper-container{
    width: 250px;
    height: 170px;
}
.swiper_inner{
    width: 165px;
    height: 170px;
    background-color: #fff8e4;
    margin: 0 auto;
    border-radius: 20px;
}
.swiper_inner a{
    display: block;
    padding: 20px 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 14px;
}
.swiper_inner a>p:first-child{
    padding-top: 12px;
    width: 100%;
    color: #664b00;
}
.swiper_inner a>p:nth-child(2){
    margin-top: 5px;
    color: #444;
}
.bojo-navi{
    position: absolute;
    width: 100%;
    height: 30px;
    bottom: 10px;
    z-index: 1;
}
.bojo_prev,
.bojo_next{
    position: absolute;
    top: -50px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
}
.bojo_next{
    right: 0px;
}
.bojo_dot{
    width: 55px !important;
    height: 100% !important;
    border-radius: 15px;
    background-color: rgba(0,0,0,0.5);
    text-align: center;
    color: #fff;
    font-size: 12px;
    line-height: 30px;
}
.bojo_dot>span{
    color: #fff;
}
/* 보조금 24 슬라이드 종료 */
.bojo_box{
    width: 350px;
    height: 170px;
    display: flex;
}
.bojo_box>a{
    display: inline-block;
    width: 165px;
    height: 100%;
    border-radius: 16px;
    text-align: center;
}
.bojo_box_left{
    margin-right: 20px;
    background: #1177d3 url(icon/main-subsidy-check-bg.png) no-repeat right bottom;
}
.bojo_box_right{
    background: #008765 url(icon/main-subsidy-search-bg.png) no-repeat right bottom;
}
.bojo_img{
    margin-top: 40px;
    width: 100%;
}
.bojo_text{
    margin-top:20px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
}
/* 미니 아이콘 */
.bojo_right{
    background-color: #f5f9ff;
    border: 1px solid #f5f9ff;
    display: flex;
    flex-wrap: wrap;
}
.bojo_right:before {
    content: '';
    position: absolute;
    left: 24px;
    top: 50%;
    width: calc(100% - 48px);
    height: 1px;
    background: #e1edfd;
}
.bojo_right:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 24px;
    width: 1px;
    height: calc(100% - 48px);
    background: #e1edfd;
}
.bojo_right_inner{
    width: 50%;
    height: 80px;
    position: relative;
}
.bojo_right_inner>a{
    display: block;
    padding: 40px 0 0;
    text-align: center;
}
.bojo_right_inner_text{
    margin-top: 10px;
    color: #666;
    font-size: 14px;
}
/* 새로운 영상 */
.video_boxs{
    margin: 40px 0px 0px 0px;
    width: 400px;
    height: 320px;
    border-radius: 20px;
    border: 1px solid #e2e5eb;
}
.newvideo{
    padding: 24px;
}
.newvideo>h2{
    font-size: 18px;
    width: 100%;
}
.newvideo>h2>a{
    float: right;
}
.newvideo_inner{
    margin-top: 20px;
    height: 233px;
}
.newvideo_inner_container{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.newvideo_slide{
    width: 350px;
}
.vedio-swiper-slide{
    position: relative;
    display: block;
    font-size: 14px;
}
.video_box{
    width: 100%;
    position: relative;
}
.video_box>img{
    width: 100%;
}
.video-play{
    position: absolute;
    left: 45%;
    top: 40%;
}
.video_box_text{
    margin-top: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
}
.vedio-swiper-slide:hover .video_box_text{
    text-decoration: underline;
}
.newvideo_navi{
    position: absolute;
    width: 100%;
    height: 10px;
}
.video_prev,
.video_next
{
    position: absolute;
    top: -135px;
    z-index: 99;
}
.video_prev{
    left: 20px;
}
.video_next{
    right: 20px;
}
/* 게시판 */
.board{
    padding: 24px;
    overflow: hidden;
}
.board_tab{
    display: flex;
    border-bottom: 1px solid #e2e5eb;
}
.board_tab>a{
    display: block;
    float: right;
}
.tab_menu{
    display: flex;
    margin-left: 0px;
}
.tab_menu>a{
    padding: 0px 0px 16px;
    margin-right: 16px;
    font-size: 16px;
}
.tab_menu>a:first-child{
    border-bottom: 2px solid #333;
}
.tab_menu>a:hover{
    text-decoration: underline;
}
.board_box{
    margin-top: 20px;
}
.board_box>ul>li{
    margin-bottom: 18px;
    width: 100%;
    font-size: 14px;
}
.board_box>ul>li:hover .board_text,
.board_box>ul>li:hover .board_date{
    text-decoration: underline;
}

.board_text{
    line-height: 18px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.board_date{
    margin-top: 5px;
    line-height: 18px;
    color: #777;
}
.board_box>ul:not(:first-child){
    display: none;
}
/* 배너 */
.banner_boxs{
    position: relative;
    border: none;
}
.banner-container{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.banner-wrapper{
    width: 100%;
}
.banner-swiper-slide{
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
}
.banner-swiper-slide>a>img{
    width: 100%;
    height: 100%;
}
.banner_navi{
    position: absolute;
    bottom: 10px;
    height: 30px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 15px;
    z-index: 999;
    display: flex;
    left: 35%;
}
.banner_page{
    margin-left: 10px;
    font-size: 15px;
    margin-right: 7px;
    color: #fff;
    float: left;
    line-height: 30px;
    width: 30px !important;
}

.banner_page>span{
    color: #fff;
}
.banner_prev,
.banner_next,
.banner_play,
.banner_stop{
    width: 20px;
    height: 20px;
    margin-left: 5px;
    margin-top: 3px;
}
.banner_stop{
    margin-top: 0px;
}
.banner_play{
    display: none;
}
/* 국민소통채널  */
.content_c{
    margin-top: 40px;
    width: 100%;
    border-top: 1px solid #d9d9d9;
    padding: 16px 0px;
}
.inner_wrap{
    width: 1280px;
    height: 100%;
    display: flex;
}
.channer_title{
    padding: 25px 0px;
    margin-left: 0px;
}
.channer_title>h2{
    font-size: 18px;
}
/* 국민소통채널 슬라이더 */
.channer_box{
    width: 1100px;
    position: relative;
    height: 100%;
}
.channer_slide_container{
    width: 1060px;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.channer_slide_container>.swiper-wrapper{
    width: 1050px;
    height: 100%;
}
.channer_slide_container>.channer_wrapper>.swiper-slide{
    width: 200px !important;
    height: 100%;
    border: 1px solid #ddd;
    margin-right: 10px !important;
}
.channer_nav{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10px;
    background-color: #000;
    z-index: 10;
}
.channer_navi{
    position: absolute;
    width: 100%;
    height: 30px;
    bottom: 0px;
    z-index: 1;
}
.channer_prev,
.channer_next{
    position: absolute;
    top: -20px;
}
.channer_next{
    right: 0px;
}

/* 푸터시작 */

footer{
    width: 100%;
    border-top: 1px solid #d9d9d9;
}
.footer_top{
    width: 100%;
    background-color: #f6f6f6;
    border-bottom: 1px solid #e8e8e8;
}
.footer_top_inner{
    width: 1280px;
    padding: 10px 0px;
    display: flex;
}
.footer_top_left{
    margin-left: 0px;
}
.footer_top_left>ul{
    display: flex;
}
.footer_top_left>ul>li>a{
    font-size: 15px;
    font-weight: bold;
}
.footer_top_left>ul>li:first-child{
    color: #003964;
}
.footer_top_left>ul>li:nth-child(2){
    margin-left: 30px;
}
.footer_top_right{
    margin-right: 0px;
}
.footer_top_right>ul{
    display: flex;
}
.footer_top_right>ul>li>a{
    display: block;
    width: 36px;
    height: 36px;
    position: relative;
    border-radius: 50%;
    background-color: #EDEDED;
    border: 1px solid #e8e8e8;
}
.footer_top_right>ul>li + li{
    margin-left: 10px;
}
.footer_top_right>ul>li>a::before{
    content: "";
    display: block;
    width: 36px;
    height: 36px;
    background: url(footer/logo_sns.png) no-repeat 0 50%;
    background-size: cover;
}
.footer_top_right>ul>li:nth-child(2)>a::before{
    background-position: -36px 0px;
}
.footer_top_right>ul>li:nth-child(3)>a::before{
    background-position: -72px 0px;
}
.footer_top_right>ul>li:nth-child(4)>a::before{
    background-position: -108px 0px;
}
.footer_top_right>ul>li:nth-child(5)>a::before{
    background-position: -144px 0px;
}
/* 푸터 중앙 */
.footer_mid{
    padding: 0;
    width: 100%;
    background-color: #f6f6f6;
}
.footer_mid_inner{
    width: 1280px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}
.footer_logo{
    width: 110px;
    margin-left: 0px;
}
.footer_logo>img{
    width: 100%;
}
.footer_mid_mid{
    display: flex;
    width: 600px;
}
.footer_mid_left,
.footer_mid_right{
    height: 100%;
    text-align: left;
}
.footer_mid_title{
    width: 100%;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
}
.footer_mid_list{
    margin-top: 6px;
}
.footer_mid_list>li{
    font-weight: bold;
}
.footer_right{
    margin-right: 0px;
    width: 300px;
}
.footer_right>ul{
    margin-top: 5px;
}
.footer_right>ul>li>a{
    width: 300px;
    height: 42px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 16px;
    position: relative;
}
.next{
    position: absolute;
    right: 0px;
}
.next>img{
    width: 5px;
}
/* 푸터 하단 */
.footer_btm{
    width: 100%;
    background-color: #f6f6f6;
}
.footer_btm_inner{
    width: 1280px;
    padding-bottom: 30px;
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
}
.footer_btm_inner_right{
    margin-right: 0px;
    display: flex;
    align-items: center;
}
.footer_btm_inner_right>span{
    font-size: 14px;
    color: #838383;
    font-weight: 500;
}
.rhkrlqn{
    width: 60px;
    height: 42px;
    margin-left: 10px;
}
.rhkrlqn>img{
    width: 100%;
}

/* service.html */
.service_section{
    width: 100%;
    position: relative;
    top: 75px;
}
/* 상단 네비게이션 */
.service_content_top{
    width: 100%;
    background-color: #f7f5f5;
    border-bottom: 1px solid #ebe9e9;
}
.service_content_top_inner{
    max-width: 1140px;
    margin: 0 autos;
}
.service_content_top_inner>div{
    width: 100%;
    overflow: hidden;
    padding-bottom: 3px;
}
.service_content_top_navi{
    float: right;
}
.service_content_top_navi>li{
    line-height: 32px;
    padding-top: 4px;
    font-size: 13px;
    float: left;
}
.service_content_top_navi>li:not(:first-child){
    padding-left: 20px;
}
.service_content_top_navi>li>span{
    height: 15px;
    width: 7px;
    background-color: #006ae2;
    position: relative;
}
.service_content_top_navi>li>span>img{
    height: 150%;
    position: absolute;
    top: -4px;
    left: -1px;
}
/* 타이틀 */
.service_title{
    width: 1140px;
    margin: 0 auto;
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
    position: relative;
}
.service_title>h1{
    margin-top: 20px;
    line-height: 1.3;
    letter-spacing: -1px;
    font-size: 24px;
    font-weight: 700;
}
.service_sns{
    position: absolute;
    right: 10px;
    bottom: 10px;
    line-height: 1.5;
}
.service_sns>li{
    float: left;
}
.service_sns>li:not(:first-child){
    margin-left: 3px;
}
.service_sns>li>a{
    width: 26px;
    height: 26px;
    display: block;
}
.facebook{
    background: url(service/ico_page_util.png) no-repeat 0 0;
}
.twitter{
    background: url(service/ico_page_util.png) no-repeat 0 -50px;
}
.linkb{
    background: url(service/ico_page_util.png) no-repeat 0 -399px;
}
.print{
    background: url(service/ico_page_util.png) no-repeat 0 -200px;
    border: 1px solid #868686;
    border-radius: 3px;
}
/* 본문 */
.service_content{
    margin: 0 auto;
    width: 1140px;
    overflow: hidden;
    position: relative;
}
/* 본문 content */
.service_content_inner{
    width: 905px;
    float: left;
    padding-top: 20px;
    padding-bottom: 50px;
}
.ser_con{
    margin-left: 0px;
    margin-right: 25px;
    padding-bottom: 50px;
}
/* form */
.service_form{
    margin-bottom: 20px;
}
.form{
    width: 100%;
    background-color: #f5f5f5;
    margin-bottom: 1px;
    height: 70px;
    position: relative;
}
.form>label{
    width: 80px;
    height: 100%;
    background-color: #959595;
    font-size: 17px;
    line-height: 70px;
    text-align: center;
    color: #fff;
    display: block;
    float: left;
}
.select_zone{
    position: absolute;
    width: 800px;
    height: 100%;
    margin-left: 80px;
}
.select_zone_inner{
    margin: 15px;
}
.select_box{
    float: left;
    width: 32%;
    height: 40px;
    margin-right: 2%;
    box-sizing: border-box;
}
.select_box:nth-child(3){
    margin-right: 0px;
}
.select_box>select{
    width: 100%;
    height: 100%;
    border: 1px solid #757380;
    background-color: #fff;
    line-height: 40px;
    color: #000;
    padding: 4px 5px 4px 5px;
    vertical-align: middle;
}
.check_box{
    position: relative;
}
.check_box_inner{
    margin: 8px 0px;
}
.check_box_inner>input{
    position: absolute;
    width: 22px;
    height: 22px;
}
.check_box_inner>label{
    display: block;
    margin-left: 30px;
    line-height: 20px;
}
.form3{
    height: 70px;
}
.form_inner{
    display: block;
    padding: 15px 20px;
    min-height: 40px;
}
.col{
    display: block;
    float: left;
}
.col_wrapper>ul{
    padding: 0;
    display: block;
    overflow: hidden;
}
.col_wrapper>ul>li{
    display: inline-block;
    margin: 0 30px 0 0;
    padding: 0 !important;
}
.col_wrapper>ul>li>div{
    margin: 8px 0;
    position: relative;
    height: 24px;
    display: inline-block;
}
.col_wrapper>ul>li>div input{
    width: 22px;
    height: 22px;
    position: absolute;
    top: 1px;
    left: 1px;
}
.col_wrapper>ul>li>div label{
    font-weight: bold;
    height: 24px;
    margin: 0;
    padding-left: 30px;
    font-size: 15px;
    line-height: 15px;
}
.service_search{
    width: 330px;
    margin-right: 30px;
    padding-right: 80px;
    position: relative;
}
.service_search input[type="search"]{
    width: 322px;
    min-width: 299px;
    height: 40px;
    background-color: #fff;
    padding: 0 20px;
    border: 1px solid #c0c0c0;
    font-size: 16px;
    line-height: 38px;
}
.service_search_btn{
    display: inline-block;
    width: 70px;
    position: absolute;
    right: 0px;
    top: 0px;
    height: 40px;
    font-size: 14px;
    line-height: 38px;
    text-align: center;
    color: #fff;
    background-color: #666;
}
.re_search{
    margin: 8px 0;
    height: 24px;
    display: inline-block;
    position: relative;
}
.re_search>input{
    width: 22px;
    height: 22px;
    position: absolute;
    top: 1px;
    left: 1px;
}
.re_search label{
    height: 24px;
    display: inline-block;
    margin: 0;
    padding-left: 30px;
    font-size: 15px;
    color: #333;
    line-height: 15px;
    vertical-align: middle;
}
/* list */
.service_list{
    width: 100%;
}
.service_list_top{
    display: block;
    text-align: right;
    margin: 40px 0px 10px; 
}
.service_list_top a{
    font-size: 15px;
    color: rgb(51,51,51);
}
.service_list_top a:not(:first-child){
    display: inline-block;
    position: relative;
    margin-left: 10px;
    padding-left: 10px;
}
.service_list_top a:not(:first-child)::after{
    display: inline-block;
    content: "";
    position: absolute;
    top: 50%;
    left: 0px;
    width: 1px;
    height: 10px;
    margin-top: -5px;
    background: rgb(219, 219, 219);
}
.service_list_text{
    border-top: 2px solid rgb(204,204,204);
    border-bottom:2px solid rgb(204,204,204);
    margin: 0px 0px 50px;
}
.service_list_text>li{
    position: relative;
    border-bottom: 2px solid rgb(204,204,204);
    padding: 18px 150px 18px 7px;
    vertical-align: middle;
}
.service_list_text>li:last-child{
    border-bottom: none;
}
.service_list_text>li>p:first-child{
    margin-bottom: 6px;
    font-size: 16px;
    color: rgba(51,51,51);
}
.service_list_text>li>p:hover{
    text-decoration: underline;
}
.service_list_text>li>p:nth-child(2){
    font-size: 15px;
    color: rgb(51, 51, 51);
    max-height: 44px;
    overflow: hidden;
    margin-bottom: 6px;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
}
.blue_tag{
    display: inline-block;
    height: 22px;
    background-color: rgb(55,130,233);
    border-radius: 11px;
    line-height: 22px;
    font-size: 14px;
    color: #fff;
    padding: 0px 10px !important;
    margin-right: 10px;
}
.service_list_text_tag>span:not(:first-child){
    display: inline-block;
    font-size: 15px;
    color: rgb(102,102,102);
    margin: 0px 10px 0px 0px !important;
    padding: 0px 10px 0px 0px !important;
}
.dot_tag{
    position: relative;
}
.dot_tag::after{
    position: absolute;
    right: 0px;
    top: 50%;
    left: auto;
    width: 2px;
    height: 2px;
    background-color: rgb(88, 92, 96);
    margin-top: -1px;
    content: "";
}
.print_btn{
    position: absolute;
    right: 0px;
    top: 50%;
    width: 103px;
    height: 40px;
    margin-top: -20px;
    background-color: rgb(41,74,127);
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 15px;
}
/* 페이징 */
.service_page{
    line-height: 30px;
    text-align: center;
    margin: 40px auto;
    overflow: hidden;
}
.service_page>ul>li{
    display: inline-block;
}
.service_page>ul>li>a{
    display: inline-block;
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    font-size: 13px;
}
.active{
    background-color: rgb(2235,25,58);
    color: #fff;
}
.service_page>ul>li>a:hover{
    background-color: rgb(2235,25,58);
    color: #fff;
}
/* aside */
.service_aside{
    margin-right: 0px;
    height: 100%;
    float: right;
    width: 234px;
    padding-top: 20px;
    margin: 0px 0px 100px;
}
.service_aside_inner{
    margin: 0px 17px;
}
.aside_list{
    margin-top: 20px;
    position: relative;
}
.aside_list>p{
    font-size: 14px;
    line-height: 1.6;
}
.aside_list>ul{
    padding-top: 3px;
    border-top: 1px solid#dbdbdb;
    margin-top: 6px;
    font-size: 13px;
    line-height: 1.5;
}
.aside_list>ul>li{
    position: relative;
    margin-left: 0px;
    padding-top: 5px;
    width: 90%;
    text-overflow: ellipsis;
    white-space: nowrap;
    list-style: square;
    overflow: hidden;
    padding-left: 7px;
    background: url(service/as_list_dot.gif) no-repeat 0 13px;
}
.aside_number{
    position: absolute;
    left: 0px;
    top:8px;
    display: block;
    width: 15px;
    height: 14px;
    line-height: 12px;
    font-size: 12px;
    text-align: center;
    color: #555;
    border: 1px solid #e0e0e0;
    background-color: #fff;
    box-sizing: border-box;
}
.aside_list3>ul>li{
    padding-left: 20px;
}
.aside_list>ul>li>a:hover{
    text-decoration: underline;
}
/* 라인 */
.service_content_inner::after{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0px;
    right: 235px;
    width: 1px;
    height: 100%;
    background: rgb(151, 151, 151);
}

/* bojo.html */
.bojo_search{
    position: absolute;
    right: 20px;
    align-self: center;
    box-sizing: border-box;
}
.bojo_search_box{
    width: 320px;
    position: relative;
}
.bojo_search_box>input{
    width: 100%;
    height: 44px;
    padding: 0 25px;
    border: 3px solid #3352a4;
    border-radius: 30px;
    color: #555;
    font-size: 14px;
}
.bojo_search_btn{
    position: absolute;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    box-sizing: border-box;
    top: 50%;
    right: 7px;
    border: none;
    overflow: hidden;
    background: #3352a4 url(bojo/ico_btn_search.png) 50% 50% no-repeat;
    background-size: 32px 32px;
    transform: translateY(-50%);
    cursor: pointer;
}
/* 보조금 24 본문 */
.bojo_content{
    width: 100%;
}
.bojo_content_inner{
    margin-top: 60px;
    margin-bottom: 100px;
}
.bojo_content_inner_box{
    width: 1140px;
    margin: 0 auto;
    position: relative;
}
.bojo_inner_big_t{
    text-align: center;
    line-height: 1.5;
}
.bojo_inner_big_t p:first-child{
    font-size: 34px;
    color: rgb(68,68,68);
}
.bojo_inner_big_t p:first-child>span,
.bojo_inner_big_t p:nth-child(2)>span
{
    font-weight: bold;
}
.bojo_inner_big_t p:nth-child(2){
    font-size: 38px;
    color: rgb(34,34,34);
}
.yellow{
    position: relative;
}
.yellow::before{
    content: "";
    display: block;
    position: absolute;
    left: 0px;
    bottom: 6px;
    width: 100%;
    height: 14px;
    background-color: rgb(255, 223, 80);
    opacity: 0.5;
    z-index: -1;
}
.bojo_sub_text{
    margin-top: 40px;
    text-align: center;
    font-size: 18px;
    color: rgb(102,102,102);
}
.bojo_btn_wrap{
    margin-top: 30px;
    text-align: center;
}
.bojo_btn_wrap>a{
    display: inline-block;
    background-color: rgb(255,223,80);
    border: 1px solid rgb(220,192,69);
    padding: 0px 20px;
    height: 50px;
    border-radius: 8px;
    color: #000;
    font-size: 16px;
    line-height: 48px;
    font-weight: bold;
}
/* 보조금 24 슬라이드 */

.bojo_main_slide{
    width: 100%;
    margin-top: 30px;
    position: relative;
}
.bojo_container{
    padding-top: 40px;
    height: 380px;
    overflow: hidden;
}
.bojo_swiper_slide{
    overflow: hidden;
    width: 364px;
    margin-left: 0px;
}
.bojo_slide_inner{
    position: relative;
    box-sizing: border-box;
    border-radius: 16px;
    overflow: hidden;
}
.col1{
    background-color: #f4eede;
}
.col2{
    background-color: #ebf1df;
}
.col3{
    background-color: #dfefe3;
}
.col4{
   background-color: #d7f0eb;
}
.col5{
    background-color: #d9eef2;
}
.col6{
    background-color:#e3ebf7;
}
.col7{
    background-color: #eee8f7;
}
.col8{
    background-color: #f8e5eb;
}
.col9{
    background-color: #f6e8e3;
}
.bojo_slide_inner>div{
    border-radius: 16px;
    height: 280px;
    padding: 24px;
    overflow: hidden;
}
.wnd{
    display: inline-block;
    padding: 6px;
    font-size: 13px;
    color: rgb(0, 106, 226);
    line-height: 15px;
    border: 1px solid rgb(153, 195, 243);
    border-radius: 4px;
}
.swiper-slide-active>.bojo_slide_inner>div>.wnd{
    border: 1px solid #fff;
    color: #fff;
}
.bojo_slide_title{
    margin-top: 18px;
    font-size: 24px;
    font-weight: bold;
    color: rgb(34,34,34);
}
.bojo_slide_text{
    display: -webkit-box;
    margin-top: 16px;
    font-size: 18px;
    color: rgb(68, 68, 68);
    overflow: hidden;
    -webkit-line-clamp: 5;
    word-break: break-all;
    -webkit-box-orient: vertical;
}

.bojo_imgs{
    position: absolute;
    right: 0;
    bottom: -300px;
}

/* 보조금24슬라이드에 hover하면 나오는 내용 */
.bojo_hover{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    display: none;
    height: 328px !important;
    padding: 24px 24px 24px 24px;
    background-color: #fff;
    border: 1px solid #000;
    box-sizing: border-box;
    transition: 0.4s;
    cursor: pointer;
}
.bojo_hover1_span{
    font-size: 18px;
    font-weight: bold;
    color: rgb(34,34,34);
}
.bojo_hover1_p{
    display: -webkit-box;
    margin-top: 3px;
    font-size: 16px;
    color: rgb(68,68,68);
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}
.bojo_hover2{
    margin-top: 18px;
}
.bojo_hover_btn{
    position: absolute;
    left: -25px;
    bottom: 20px;
    margin-top: 0px;
    text-align: center;
    width: 100%;
    padding: 0px 30px;
}
.bojo_hover_btn>a{
    border: 1px solid rgb(188,143,26);
    display: inline-block;
    width: calc((100%-12px)/2);
    height: 44px;
    border-radius: 8px;
    color: #000;
    vertical-align: middle;
}
.bojo_hover_btn>a>span{
    font-size: 16px;
    font-weight: bold;
    color: rgb(188,143,26);
    line-height: 44px;
}
.col1>.bojo_hover{
    border: 1px solid #bc8f1a;
}
.col2>.bojo_hover{
    border: 1px solid #75a41b;
}
.col3>.bojo_hover{
    border: 1px solid #34a852;
}
.col4>.bojo_hover{
    border: 1px solid #09a788;
}
.col5>.bojo_hover{
    border: 1px solid #19a3be;
}
.col6>.bojo_hover{
    border: 1px solid #5986c7;
}
.col7>.bojo_hover{
    border: 1px solid #a781d8;
}
.col8>.bojo_hover{
    border: 1px solid #e56f6f;
}
.col9>.bojo_hover{
    border: 1px solid #e4754e;
}
/* 보조금 slide css */
.swiper-slide-active>.bojo_slide_inner{
    box-shadow:0px 6px 10px 0px rgba(3,48,117,0.16);
}
.swiper-slide-active>.col1{
    background-color: #bc8f1a;
}
.swiper-slide-active>.col2{
    background-color: #75a41b;
}
.swiper-slide-active>.col3{
    background-color: #34a852;
}
.swiper-slide-active>.col4{
    background-color: #09a788;
}
.swiper-slide-active>.col5{
    background-color: #19a3be;
}
.swiper-slide-active>.col6{
    background-color: #5986c7;
}
.swiper-slide-active>.col7{
    background-color: #a781d8;
}
.swiper-slide-active>.col8{
    background-color: #e56f6f;
}
.swiper-slide-active>.col9{
    background-color: #e4754e;
}

.swiper-slide-active>.bojo_slide_inner>div>.bojo_slide_title,
.swiper-slide-active>.bojo_slide_inner>div>.bojo_slide_text{
    color: #fff;
}
.swiper-slide-active>.bojo_slide_inner>div>.bojo_slide_text{
    width: 50%;
    float: left;
}
.swiper-slide-active>.bojo_slide_inner>div>img{
    bottom: 0px;
    animation: imgtop 1s;
}
@keyframes imgtop{
    0%{
        bottom: -300px;
    }
}
/* 보조금 24 slide 컨트롤러 */
.bojo_slide_navi{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 50;
}
.bojo_slide_navi_arrow{
    position: absolute;
    right: 0;
    top: 0;
    width: 83px;
    height: 30px;
    border: 1px solid rgb(189,189,189);
    border-radius: 15px;
    background-color: rgb(244,244,244);
}
.bojo_slide_navi_arrow::before{
    content: "";
    display: block;
    position: absolute;
    left: 26px;
    top: 9px;
    width: 1px;
    height: 10px;
    background-color: rgb(189, 189, 189);
}
.bojo_slide_prev{
    width: 28px;
    height: 28px;
    position: absolute;
    right: 54px;
    top:0px;
    cursor: pointer;
    background: url(bojo/btn_main_paging_prev.png) 0px 0px /auto 100% no-repeat;
}
.bojo_slide_next{
    width: 28px;
    height: 28px;
    position: absolute;
    right: 26px;
    top:0px;
    cursor: pointer;
    background: url(bojo/btn_main_paging_next.png) 0px 0px /auto 100% no-repeat;
}
.bojo_slide_stop,
.bojo_slide_play{
    width: 26px;
    height: 28px;
    position: absolute;
    right: 0px;
    cursor: pointer;
}
.bojo_slide_stop{
    background: url(bojo/ico_s_stop_02.png) 0px 6px /auto 60% no-repeat;
}
.bojo_slide_play{
    background: url(bojo/ico_s_start_02.png) 0px 5px /auto 60% no-repeat;
    display: none;
}
.bojo_pagination{
    padding-right: 93px;
    width: auto;
    font-size: 15px;
    color: rgb(102,102,102);
    line-height: 30px;
}
.bojo_pagination>span:first-child{
    color: #1177d3;
}
.bojo_more{
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 10px;
}
.bojo_more>a{
    float: right;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    padding-right: 30px;
}
.bojo_more>a::before{
    content: "";
    display: block;
    position: absolute;
    right: 0px;
    top: 12px;
    width: 16px;
    height: 16px;
    transform: translateY(-50%);
    background: url(bojo/icon-arrow-black.png) 0px 0px / auto 100% no-repeat;
}
/* 간편찾기 */
.bojo_main_btm{
    margin-top: 60px;
    margin-bottom: 60px;
}
.bojo_main_btm_inner{
    width: 1140px;
    position: relative;
    margin: 0 auto;
    line-height: 1.5;
}
.bojo_main_btm_inner>h2{
    display: inline-block;
    font-size: 24px;
    color: #000;
    vertical-align: middle;
}
.bojo_main_btm_inner>p{
    display: inline-block;
    margin-left: 5px;
    font-size: 18px;
    color: rgb(102, 102, 102);
    vertical-align: middle;
}
.bojo_btn_search_wrap{
    margin-top: 14px;
}
.tab_menu > .tab_list + .tab_list{
    margin-left: 24px;
}
.tab_list{
    width: calc((100% -48px) /3);
    text-align: left;
    border: 1px solid #dbc9dc;
    border-radius: 8px;
    float: left;
    background-color: #fff;
}
.tab_list:active .tab_list>span{
    color: red;
}
.tab_list>span{
    display: block;
    padding: 19px 32px 19px;
    font-size: 20px;
    color: #333;
    font-weight: 500;
}
.tab_list:checked{
    color: red;
}
.tab_active{
    border-color: #acd0f6;
    background-color: #f6fbfe;
    box-shadow: 0px 6px 10px 0 rgba(3,48,117,0.1);
}
.tab_active>span{
    position: relative;
}
.tab_active>span::after{
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    right: 32px;
    margin-top: 0px;
    width: 40px;
    height: 40px;
    background: url(bojo/bg_tab_on_03.png) no-repeat 0px 0px;
    background-size: auto 100%;
    transform: translateY(-50%);
}
.tab_menu::after{
    clear: both;
    content: "";
    display: block;
}
.tab_pannel{
    display: none;
}
.tab_content{
    display: none;
    padding-top: 24px;
    position: relative;
}
.tab_content_inner{
    border: 1px solid #dbc9dc;
    border-radius: 16px;
    overflow: hidden;
}
.tab_top{
    padding: 21px 24px 0px 24px;
    height: 70px;
    text-align: left;
    background-color: #fff;
    position: relative;
    width: 100%;
    box-sizing: border-box;
}
.tab_top>p{
    font-size: 18px;
}
.tab_mid{
    padding: 24px;
    height: 312px;
    background-color: #eff1f5;
}
.tab_mid_inner{
    padding: 16px;
    height: 212px;
    border-radius: 8px;
    background-color: #fff;
}
.tab_mid_inner_left{
    float: left;
    overflow-y: scroll;
    padding-right: 23px;
    width: 350px;
    height: 212px;
}
.city_btn{
    float: left;
    position: relative;
    padding: 0 16px;
    width: calc((100% - 8px) / 2);
    height: 36px;
    font-size: 16px;
    color: #666;
    text-align: left;
    border: 1px solid #ededed;
    border-radius: 4px;
    background-color: #fff;
}
.city_btn:nth-child(2n){
    margin-left: 8px;
}
.city_btn:nth-child(2)~button{
    margin-top: 8px;
}
.tab_mid_inner_right{
    float: left;
    overflow-y: scroll;
    width: calc(100%-350px);
    height: 212px;
    box-sizing: border-box;
}
.tab_mid_inner_right_box{
    padding-left: 10px;
    width: 655px;
}
.radio_wrpa{
    margin: 0 !important;
}
.radio_box{
    width: calc((655px - 24px) / 4) ;
    float: left;
}
.radio_wrpa>.radio_box +.radio_box{
    margin-left: 8px;
}
.radio_box:nth-child(4n + 1){
    margin-left: 0 !important;
}
.radio_box:nth-child(4)~div{
    margin-top: 8px;
}
.radio_box>label{
    box-sizing: border-box;
    display: block;
    width: 100%;
    position: relative;
    padding-left: 16px;
    height: 36px;
    border: 1px solid #ededed;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
}
.radio_box>label>span{
    padding-left: 0px;
    font-size: 16px;
    color: #666;
    line-height: 34px;
}
.tab_btm{
    position: absolute;
    width: 100%;
    bottom: 20px;
    left: -10px;
    text-align: center;
}
.tab_btm>a{
    max-width: 77px;
    border: 1px solid #033075;
    background-color: #033075;
    padding: 0px 24px;
    display: inline-block;
    border-radius: 22px;
    text-align: center;
    height: 44px;
}
.tab_btm>a>span{
    color: #fff;
    font-size: 16px;
    line-height: 42px;
    font-weight: bold;
}
/* 소상공인 tab */
.tab_mid2{
    height: 92px;
}
.tab_mid_ridio_wrap>div{
    padding: 0 39px;
    box-sizing: border-box;
}
.radio_box2{
    width: 20%;
    float: left;
}
.radio_box2>input{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    font-size: 1px;
}
.radio_box2>label{
    display: block;
}
.radio_box2>label>span{
    position: relative;
    font-size: 16px;
    padding-left: 34px;
    color: #666;
    cursor: pointer;
}
.radio_box2>label>span::after{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    width: 24px;
    height: 24px;
    border: 1px solid #444;
    border-radius: 50%;
    background-color: #fff;
    transform: translateY(-50%);
}
.radio_box2>input:checked +label>span::before{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #fff;
    transform: translateY(-50%);
    border: 7px solid #006ae2;
    box-sizing: border-box;
    z-index: 100;
}

/* 법인 */
.radio_box3{
    width: 20%;
    float: left;
}
.radio_box3>input{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    font-size: 1px;
}
.radio_box3>label{
    display: block;
}
.radio_box3>label>span{
    position: relative;
    font-size: 16px;
    padding-left: 34px;
    color: #666;
    cursor: pointer;
}
.radio_box3>label>span::after{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    width: 24px;
    height: 24px;
    border: 1px solid #444;
    border-radius: 50%;
    background-color: #fff;
    transform: translateY(-50%);
}
.radio_box3>input:checked +label>span::before{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #fff;
    transform: translateY(-50%);
    border: 7px solid #006ae2;
    box-sizing: border-box;
    z-index: 100;
}

/* 영상으로 보는 보조금 24 */

.bojo_bottom{
    position: relative;
    padding-top: 58px;
    box-sizing: border-box;
}
.bojo_bottom::before{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 395px;
    background-color: #f1f1f1;
}
.bojo_bottom_inner{
    width: 1140px;
    position: relative;
    margin: 0 auto;
}
.bojo_btm_left{
    width: calc((100% - 20px )/2);
    float: left;
    position: relative;
}
.bojo_btm_left>h2{
    display: inline-block;
    font-size: 24px;
    color: #000;
    vertical-align: middle;
}
.youtube-conainer{
    margin-top: 14px;
    height: 351px;
    width: 100%;
    border-radius: 16px;
    overflow: hidden;
}
.youtube-conainer>.swiper-wrapper>.swiper-slide>a{
    display: block;
    width: 100%;
    height: 341px;
    box-shadow: 0 3px 10px 0 rgba(0,0,0,0.08);
    background-color: #fff;
    border-radius: 16px;
}
.youtube-conainer>.swiper-wrapper>.swiper-slide>a>img{
    width: 100%;
}
.youtube-ment{
    margin: 0 40px;
    padding: 24px 0;
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #444;
}
.youtube-ment>span{
    font-weight: bold;
}
.youtube-arrow{
    position: absolute;
    top: 0;
    right: 0;
}
.youtube-prev{
    position: absolute;
    top: 0px;
    right: 28px;
    background: url(bojo/btn_main_paging_prev\ \(1\).png) no-repeat 0 0;
    background-size: auto 100%;
    width: 28px;
    height: 28px;
    cursor: pointer;
}
.youtube-next{
    position: absolute;
    top: 0px;
    right: 0px;
    background: url(bojo/btn_main_paging_next\ \(1\).png) no-repeat 0 0;
    background-size: auto 100%;
    width: 28px;
    height: 28px;
    cursor: pointer;
}
.youtube-pagination{
    padding-right: 68px;
    font-size: 15px;
    color: #666;
    line-height: 26px;
}
.youtube-pagination>span:first-child{
    color: #006ae2;
}
/* 보조금 이모저모 */
.bojo_btm_right{
    float: right;
    width: calc((100% - 20px) / 2);
    position: relative;
}
.bojo_btm_right>h2{
    display: inline-block;
    font-size: 24px;
    color: #000;
    vertical-align: middle;
}
.bojo-banner{
    margin-top: 14px;
}
.bojo-banner-container{
    border-radius: 16px;
    overflow: hidden;
}
.bojo-banner-container>.swiper-wrapper>.swiper-slide{
    height: 179px;
    border-radius: 16px;
    padding: 40px 195px 0px 40px;
    background-color: #fff;
    box-sizing: border-box;
}
.bojo-banner-container>
.swiper-wrapper>
.swiper-slide>p{
    font-size: 20px;
    color: #222;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.bojo-banner-container>
.swiper-wrapper>
.swiper-slide>span{
    display: inline-block;
    position: relative;
    margin-top: 18px;
    padding-right: 20px;
    width: 95px;
    font-size: 16px;
    color: #222;
}
.bojo-banner-container>
.swiper-wrapper>
.swiper-slide>span::before{
    content: '';
    display: block;
    position: absolute;
    right: 0;
    top: 5px;
    width: 16px;
    height: 16px;
    background: url(bojo/bg_select_arrow_02.png) no-repeat 0 0;
    background-size: auto 100%;
    transform: rotate(-90deg);
}
.banner_img{
    position: absolute;
    right: 40px;
    top: 50%;
    width: 148px;
    height: 148px;
    transform: translateY(-50%);
}
.bojo-banner-navi{
    position: absolute;
    top: 0px;
    right: 0px;
}
/* 알림서비스 */
.bojo-alrim{
    margin-top: 20px;
}
.bojo-alrim>a{
    position: relative;
    display: block;
    width: 100%;
    height: 142px;
    border-radius: 16px;
    box-sizing: border-box;
    padding: 25px 0px 25px 160px;
    background: url(bojo/img_alarm.png) left 20px center / 126px 112px no-repeat rgb(217,227,242);
}
.bojo-alrim-text{
    font-size: 18px;
    color: rgb(34,34,34);
    letter-spacing: -0.025em;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-style: normal;
    line-height: 1.5;
    word-break: keep-all;
    overflow-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
}
.bojo-alrim-link{
    display: block;
    position: relative;
    margin-top: 14px;
    padding-right: 20px;
    font-size: 16px;
    font-weight: 500;
    color: rgb(34, 34, 34);
    width: 158px;
    margin-left: 0px;
}
.bojo-alrim-link::before{
    content: "";
    display: block;
    position: absolute;
    right: 0px;
    top: 4px;
    width: 16px;
    height: 16px;
    background: url(bojo/bg_select_arrow_02\ \(10\).png) 0px 0px / auto 100% no-repeat;
    transform: rotate(-90deg);
}
.bojo_bottom_inner::after{
    content: "";
    clear: both;
    display: block;
}
/* 보조금 하단 아이콘 버튼 */
.bojo_icons{
    position: relative;
    width: 1170px;
    margin: 0 auto;
}
.bojo_icons_inner{
    margin-top: 50px;
}
.bojo_icons_inner>ul>li{
    float: left;
    width: calc((100% - 96px) / 4);
}
.bojo_icons_inner>ul>li + li{
    margin-left: 32px;
}
.bojo_icon_link{
    display: block;
    padding: 34px 12px;
    background-color: rgb(250, 245, 224);
    text-align: center;
    border-radius: 16px;
    box-sizing: border-box;
}
.bojo_icon_link_s{
    display: inline-block;
    padding-left: 48px;
    font-size: 16px;
    font-weight: 500;
    line-height: 32px;
    color: rgb(34, 34, 34);
}
.bojo_icon_link_a{
    background: url(bojo/ico_s_info.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: 32px;
}
.bojo_icon_link_b{
    background: url(bojo/ico_s_info.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: 32px;
}
.bojo_icon_link_c{
    background: url(bojo/ico_s_family.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: 32px;
}
.bojo_icon_link_d{
    background: url(bojo/ico_s_faq.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: 32px;
}
.bojo_icons_inner>ul::after{
    content: "";
    display: block;
    clear: both;
}
.margin{
    display: block;
    width: 100%;
    height: 100px;
    margin-top: 50px !important;
    margin-bottom: 50px;
}